@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.king {
	height: 1540px;
}

.topo {
	height: 200px;
	width: 100%;
	display: flex;
}

.area {
	height: 70%;
	width: 38%;
	background-color: #fecb00;
	margin: 60px 70px;
}

.area img {
	height: 40px;
	width: 50px;
	position: relative;
	top: 46%;
	left: 50px;
}

.area h1 {
	font-size: 17px;
	font-weight: normal;
	margin: 10px 120px;
	opacity: 0.9;
}

.cont {
	height: 100%;
	width: 52%;
}

.phone {
	float: left;
	height: 100%;
	width: 50%;
}

.phone h1{
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin-top: 130px;
	opacity: 0.9;
}

.email {
	float: right;
	height: 100%;
	width: 50%;
	opacity: 0.9;
}

.email h1{
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin-top: 130px;
}

.inf {
	height: 480px;
	width: 100%;
	background-color: #870e86;
}

.inf img {
	height: 480px;
	width: 510px;
	margin-left: 70px;
}

.box-info {
	height: 100%;
	width: 50%;
	float: right;
	margin-right: 94px;
}

.box-info h1 {
	font-size: 46px;
	width: 470px;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	border-bottom: 4px solid #fecb00;
	padding-bottom: 18px;
	margin: 42px 0 0 90px;
}

.box-info h2 {
	color: white;
	margin-top: 18px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	margin-left: 90px;
}

.box-info p {
	color: white;
	font-size: 19px;
	margin: 36px 0 0 90px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}

.edu {
	height: 800px;
	width: 510px;
	background-color: #fecb00;
	margin-left: 70px;
	padding-top: 42px;
	display: inline-block;
}

.edu h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	color: #870e86;
	margin: 0 90px;
	border-bottom: 4px solid #dfb225;
	width: 420px;
	padding-bottom: 24px;
}

.edu h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: #870e86;
	padding-top: 24px;
	margin-left: 90px;
}

.edu p {
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	color: #870e86;
	padding-top: 8px;
	margin-left: 90px;
}

.hobs {
	height: 50%;
	width: 100%;
	position: relative;
	bottom: -13%;
}

.box-hobs {
	height: 30%;
	width: 100%;
	margin-top: 40px;
	display: flex;
}

.toc {
	height: 100%;
	width: 33.33%;
}

.toc img {
	height: 50px;
	width: 50px;
	position: relative;
	left: 50%;
	margin-left: -25px;
}

.toc h3 {
	font-size: 1.5em;
	margin-top: 12px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: #870e86;
}

.mus {
	height: 100%;
	width: 33.33%;
}

.mus img {
	height: 50px;
	width: 50px;
	position: relative;
	left: 50%;
	margin-left: -25px;
}

.mus h3 {
	font-size: 1.5em;
	margin-top: 12px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: #870e86;
}

.fut {
	height: 100%;
	width: 33.33%;
}

.fut img {
	height: 50px;
	width: 50px;
	position: relative;
	left: 50%;
	margin-left: -25px;
}

.fut h3 {
	font-size: 1.5em;
	margin-top: 12px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: #870e86;
}

.sob {
	height: 800px;
	width: 57%;
	float: right;
}

.sob h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	color: #870e86;
	margin: 42px 0 0 90px;
	border-bottom: 4px solid #e1e1e1;
	width: 679px;
	padding-bottom: 24px;
}

.sob li {
	font-size: 25px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: #870e86;
	padding-top: 24px;
	margin-left: 90px;
}

.red {
	position: relative;
	left: 50%;
	margin: 42px 0 0 -250px;
	height: 100px;
	width: 500px;
	display: flex;
}

.fac {
	height: 100%;
	width: 33.33%;
}

.fac img {
	height: 60px;
	width: 60px;
	position: relative;
	left: 50%;
	margin-left: -30px;
}

.ins {
	height: 100%;
	width: 33.33%;
}

.ins img {
	height: 60px;
	width: 60px;
	position: relative;
	left: 50%;
	margin-left: -30px;
}

.lin {
	height: 100%;
	width: 33.33%;
}

.lin img {
	height: 60px;
	width: 60px;
	position: relative;
	left: 50%;
	margin-left: -30px;
}

